<h1>Historial de cambios para {{ proyecto.name }}</h1>

<ul class="history-list">
    {% for change in history %}
    <li class="history-item">
        <strong>{{ change.project.name }}</strong>: {{ change.change_description }} <br>
        <em>Fecha: {{ change.change_date }}</em> <br>
        <em>Realizado por: {{ change.user.username }}</em>
    </li>
    {% empty %}
    <li class="no-changes">No hay cambios registrados.</li>
    {% endfor %}
</ul>

<a href="{% url 'proyecto_detalle' proyecto.id %}">Volver al proyecto</a>
