{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="project-banner">
        <img src="{% static 'images/kira_proyecto.png' %}" alt="Project Cat" class="cat-image">
        <h1>CatNest</h1>
    </div>

    <div class="project-options">
        <ul>
            <li><a href="{% url 'CreateProject' %}" class="button">Crear Proyectos</a></li>
            <li><a href="{% url 'list_project_folders' %}" class="button">Ver Proyectos</a></li>
            <li><a href="{% url 'change_history' %}" class="button">Historial de Cambios</a></li>
            
            {% if user.is_superuser %}
                <!-- Opciones adicionales solo para el administrador -->
                <li><a href="{% url 'ver_usuarios' %}" class="button">Ver Usuarios Registrados</a></li>
                <li><a href="{% url 'Crear_rol' %}" class="button">Crear Roles</a></li>
            {% endif %}
            
            <!-- Opción para ver permisos disponible para todos los usuarios -->
            <li><a href="{% url 'ver_permisos' %}" class="button">Ver Mis Permisos</a></li>
        </ul>
        
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cerrar Sesión</button>
        </form>
    </div>
</div>

<style>
    body {
        background-color: #f0f0f0;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        text-align: center;
        padding: 20px;
    }

    .cat-image {
        width: 130px;
        height: auto;
        margin-bottom: 10px;
    }

    h1 {
        color: #333;
        font-size: 2.2rem;
        margin-bottom: 20px;
        font-family: 'Satisfy', cursive;
    }

    .project-options ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .project-options li {
        margin-bottom: 15px;
    }

    .button {
        background-color: #007bff;
        color: white;
        padding: 12px 25px;
        text-decoration: none;
        border-radius: 10px;
        display: inline-block;
        font-size: 1.1rem;
        transition: background-color 0.3s ease;
        width: 220px;
        text-align: center;
    }

    .button:hover {
        background-color: #0056b3;
    }

    form button {
        margin-top: 15px;
        background-color: #ff4b5c;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 220px;
    }

    form button:hover {
        background-color: #d43f4a;
    }
</style>
{% endblock %}
