{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ project.name }}</h1>
    <p><strong>Descripción del Proyecto:</strong> {{ project.description }}</p>

    <!-- Sección de Actividades Atrasadas -->
    <h2>Actividades Atrasadas</h2>
    <ul class="activity-list">
        {% for activity in atrasadas %}
            {% include 'activity_item.html' with activity=activity %}
        {% empty %}
            <p>No hay actividades atrasadas.</p>
        {% endfor %}
    </ul>

    <!-- Sección de Actividades Por Entregar -->
    <h2>Actividades Por Entregar</h2>
    <ul class="activity-list">
        {% for activity in por_entregar %}
            {% include 'activity_item.html' with activity=activity %}
        {% empty %}
            <p>No hay actividades por entregar.</p>
        {% endfor %}
    </ul>

    <!-- Sección de Actividades Completadas -->
    <h2>Actividades Completadas</h2>
    <ul class="activity-list">
        {% for activity in completadas %}
            {% include 'activity_item.html' with activity=activity %}
        {% empty %}
            <p>No hay actividades completadas.</p>
        {% endfor %}
    </ul>
    
    <a href="{% url 'create_activity' project.id %}" class="button">Agregar Actividad</a><br>
    <a href="{% url 'home' %}" class="button">Volver</a>
</div>

<style>
    body {
        background-color: #f0f0f0;
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .activity-item {
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
    }

    .atrasada {
        background-color: #f8d7da;
    }

    .completada {
        background-color: #40b045;
    }

    .btn-danger {
        background-color: #dc3545;
        color: white;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
    }

    .button {
        display: inline-block;
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
    }

    .activity-item.atrasada {
        background-color: #d96a74;
    }

    .activity-item.por-entregar {
        background-color: #fff3cd;
        border: 1px solid #ffeeba;
    }

    .activity-item.completada {
        background-color: #7ec69b
    }
</style>
{% endblock %}
